@keyframes blink {
  0% {
      opacity: 0;
  }

  80% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

#splashContainer {
  position: relative;

  #carret {
    animation: blink 1s infinite;
  }

  #heading {
    color: var(--primary-color);
  }

  .austriaColored {
    color: var(--austria-color);
  }

  h1 > span {
    display: inline-block;
  }

  .button {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    margin-top: calc(var(--text-height) * 1px);

    .downArrow {
      display: inline-block;
      transition: color 0.3s, transform 0.3s;
    }

    &:hover {
      .downArrow {
        transform: rotate(90deg);
      }
    }
  }
}
