.socialLink {
  display: flex;

  .image {
    flex-shrink: 0;
    width: calc(var(--text-width) * 2px);
    height: calc(var(--text-height) * 1px);
    position: relative;

    transform: scale(.8);
  }

  a {
    margin-left: calc(var(--text-width) * 1px);
  }
}
