.socialLink {
  display: flex;

  .image {
    flex-shrink: 0;
    width: calc(var(--text-width) * 2px);
    height: calc(var(--text-height) * 1px);

    background-size: 80%;
    background-repeat: no-repeat;
    background-position: left;

    &.li {
      background-image: url('/assets/images/icon-linkedin.png');
    }

    &.so {
      background-image: url('/assets/images/icon-so.png');
    }
  }

  a {
    margin-left: calc(var(--text-width) * 1px);
  }
}
