.tBorderBox {
  > div:first-of-type,
  > div:last-of-type {
    color: cyan;
    user-select: none;
  }

  .contentFlex {
    display: flex;
    flex-direction: row;
    width: 100%;

    > .border {
      overflow-wrap: break-word;
      width: calc(var(--text-width) * 1px);
      color: cyan;
      user-select: none;
    }

    > .content {
      flex-grow: 1;
      position: relative;
    }
  }
}
