.tBorderBox {
  > div:first-of-type,
  > div:last-of-type {
    color: var(--secondary-color);
    user-select: none;
    white-space: nowrap;
  }

  .contentFlex {
    display: flex;
    flex-direction: row;
    width: 100%;

    > .border {
      overflow-wrap: break-word;
      width: calc(var(--text-width) * 1px);
      color: var(--secondary-color);
      user-select: none;
    }

    > .content {
      flex-grow: 1;
      position: relative;
    }
  }
}
