.mainPage {
    width: 100%;
    height: 100%;

    .flexContainer {
        display: flex;
        flex-wrap: wrap;

        &.fs {
            flex-direction: column-reverse;
        }

        #skillsTable {
            white-space: nowrap;
        }
    }
}