#main-page {
    width: 100%;
    height: 100%;

    .flex-container {
        display: flex;
        flex-wrap: wrap;

        &.fs {
            flex-direction: column-reverse;
        }

        #skills-table {
            white-space: nowrap;
        }

        #about-me {
            .avatar {
                margin-left: calc(var(--text-width) * 3px);
                margin-bottom: calc(var(--text-height) * 1px);
                float: right;
                background-image: url('/assets/images/avatar.jpg');
                background-position: center;
                background-size: cover;

                transition: width .3s, height .3s;
            }
        }
    }

    #projects-flex {
        display: flex;
        flex-direction: column;

        :nth-child(even) .logo {
            float: left;
        }

        .logo {
            float: right;

            &.mauz {
                color: lightgreen;
            }

            &.qhelp {
                color: salmon;
            }

            &.gamerpals {
                color: cornflowerblue;
            }

            &.more {
                color: burlywood;
            }
        }
    }
}