@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-display: swap;
  src: url(/fonts/RobotoMono-VariableFont_wght.ttf) format('woff2');
}

html,
body,
div,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
img,
ol,
ul,
li,
input,
label,
select,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
menu,
nav,
section,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto Mono';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:checked,
a:visited {
  color: var(--text-color);
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}

html {
  --background-color: rgb(42, 44, 51);
  --text-color: #c6c6c9;
  --primary-color: rgb(68, 194, 139);
  --secondary-color: rgb(78, 147, 211);
  --austria-color: #ee6062;

  --text-width: 9.6;
  --text-height: 21;
}

html,
body,
#root {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
  overflow: hidden;
}

.simplebar-track.simplebar-vertical {
  pointer-events: all;
  width: 5px !important;
  right: 3px;

  transition: width 0.2s ease-in-out;

  .simplebar-scrollbar {
    width: 100%;

    &::before {
      width: 100%;
      left: 0;
      right: 0;

      background-color: var(--text-color) !important;

      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    &.simplebar-visible {
      &::before {
        opacity: 0.2;
      }
    }
  }

  &:hover,
  &:focus,
  &:active {
    width: 15px !important;

    .simplebar-scrollbar {
      &::before {
        opacity: 0.5;
      }
    }
  }
}

#copyright {
  float: right;
  opacity: 0.3;
}

.movable {
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s;

  &.move-left {
    transform: translateX(-100%);
    opacity: 0;
  }

  &.move-right {
    transform: translateX(100%);
    opacity: 0;
  }
}

.fadeable {
  opacity: 1;
  transition: opacity 1s;

  &.fade-out {
    opacity: 0;
  }
}
