#copyright {
    float: right;
    opacity: .3;
}

.movable {
    opacity: 1;
    transition: transform .5s, opacity .5s;

    &.move-left {
        transform: translateX(-100%);
        opacity: 0;
    }

    &.move-right {
        transform: translateX(100%);
        opacity: 0;
    }
}

.fadeable {
    opacity: 1;
    transition: opacity 1s;

    &.fade-out {
        opacity: 0;
    }
}