#console-container {
  background-color: var(--background-color);
  position: relative;
  padding: 21px 19.2px;
}

#heading {
  color: lightgreen;
}

#sub-heading {
  text-decoration: underline;
}

.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}

.links > div {
  transition: background-color .3s, transform .3s, width .3s;
  width: 100%;
}
.links > div:hover {
  background-color: magenta;
  transform: translateX(9.6px);
  width: calc(100% - 9.6px);
}

.bordered > div:first-of-type,.bordered > div:last-of-type {
  color: cyan;
}

.bordered .content-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.bordered .content-flex > div:first-of-type, .bordered .content-flex > div:last-of-type {
	overflow-wrap: break-word;
	width: 9.6px;
  color: cyan;
}
.bordered .content-flex > div:nth-of-type(2) {
  flex-grow: 1;
}