html, body, div, span, a, h1, h2, h3, h4, h5, h6, p, blockquote, img, 
ol, ul, li, input, label, select, table, tbody, tfoot, thead, tr, th, 
td, footer, header, menu, nav, section, video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Roboto Mono';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --background-color: #4f4f4f;
  --text-color: #FFFFFF;

  --text-width: 9.6;
  --text-height: 21;
}

html, body, #root {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}